
<app-header></app-header>

<div class="container content">
  <h2>Edit Category</h2>

  <div>

    <form  class="row" (ngSubmit)="updateCategory()" #categoryForm="ngForm" enctype="multipart/form-data">
        <div class="form-group col-md-6">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="category.name" required>
        </div>
        <div class="form-group col-md-6">
            <label for="name">Parent Category</label>
            <ng-select name="parent_id" id="parent_id" class="form-control" [items]="categories"
            [(ngModel)]="category.parent_id"
            bindLabel="name"
            bindValue="id"
            [searchable]="true"
            required>
 </ng-select>


 
          </div>
          
       
        <div class="form-group col-md-6">
            <label for="image">Image</label>
            <img width="155px" height="155px" [src]="assetsUrl + 'categories/' + category.image" id="image-preview" />
            <input type="file" class="form-control-file" (change)="displayImage($event, 'image')" id="image" [(ngModel)]="category.image" name="image">
          </div>
        
          
       
        <div class="form-group form-check col-md-3">
            <input type="checkbox" class="form-check-input" id="active" name="active" [(ngModel)]="category.active">
            <label class="form-check-label" for="active">Active</label>
          </div>
          <div class="form-group form-check col-md-3">
            <input type="checkbox" class="form-check-input" id="top_business_category" name="top_business_category" [(ngModel)]="category.top_business_category">
            <label class="form-check-label" for="top_business_category">Latest Device</label>
          </div>
        
          
          
          
      <div class="col-md-6 form-group">
        <button type="submit" class="btn btn-primary" [disabled]="!categoryForm.form.valid">Save</button>
   </div>
    </form>


  </div>
  
  
     

</div>
