select{
    color: white;
}
option{
    background-color: white;
    color: black;
}
.Pending {
    background-color: orange;
  }
  
.Process {
    background-color: blue;
  }
  
  .Shipped {
    background-color: purple;
  }
  
  .Completed {
    background-color: green;
 
  }
  
 .Canceled {
    background-color: red;
  }