<app-header></app-header>
<div class="container-fluid mg30 content">
    <div class="row mycardrow">

<div class="col-md-2 tile_stats_count">
<span class="count_top"><i class="fas fa-users"></i> Total Users</span>
<div class="count">125</div>
</div> 

<div class="col-md-2 tile_stats_count">
<span class="count_top"><i class="fas fa-clock"></i> Total Products</span>
<div class="count">77852</div>
</div>

<div class="col-md-2 tile_stats_count">
<span class="count_top"><i class="fas fa-dollar-sign"></i> Total Sales</span>
<div class="count green">19,985</div>
</div>

<div class="col-md-2 tile_stats_count">
<span class="count_top"><i class="fas fa-shopping-cart"></i> Total Orders</span>
<div class="count">500</div>
</div>

<div class="col-md-2 tile_stats_count">
<span class="count_top"><i class="fas fa-hourglass-half"></i> Pending Orders</span>
<div class="count">26</div>
</div>

<div class="col-md-2 tile_stats_count">
<span class="count_top"><i class="fas fa-check-circle"></i> Completed Orders</span>
<div class="count green">474</div>
</div>

</div>



   
    <div class="row">
      <div class="col-md-5 mb-3">
        <input type="text" [(ngModel)]="searchText" placeholder="Search orders" (input)="onSearch()" class="form-control">
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>Order ID	</th>
              <th>Customer Info	</th>
              <th>Items</th>
            
              <th>Total Amount	</th>
              <th>Shipping Type	</th>
              <th>Order Date	</th>
              <th>Order Status	</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of displayedOrders">
              <td>{{ order.id }}</td>
              <td><b>Name:</b> {{ order.customer_name }} <br> <b>Email:</b> {{ order.customer_email }} <br> <b>Phone:</b> {{ order.customer_phone }}</td>
              <td>{{ order.item_count }}</td>

              <td>{{ order.subtotal }}</td>
              <td>{{ order.shipping_method }}</td>
              <td>{{ order.created }}</td>
            
              <td>
                <select name="status" id="status" [(ngModel)]="order.status" (change)="updateStatus($event, order.id)">
                    <option value="Pending">Pending</option>
                    <option value="Shipped">Shipped</option>
                    <option value="Completed">Completed</option>
                    <option value="Canceled">Canceled</option>
                  </select>
            </td>
              <td><button (click)="viewOrder(order.id)">View</button><button (click)="deleteOrder(order.id)">Delete</button></td>
            </tr>
          </tbody>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="pageSize" [length]="orders.length"
          (page)="onPageChange($event)">
        </mat-paginator>
      </div>
    </div>
  </div>