.content{
    margin-top:10%;
}
.mg10{
    margin:10px 0px;
}
.mybg{
background:#397388;

}
.formstyle{
    border-radius: 5px;
    width: 500px;
    padding: 50px;
    margin: 0px auto;
}
.form-group {
    margin: 10px 0px;
    color: white;
}